---
export interface Props {
  href: string;
  src: string;
  class?: string;
}
const { href, src, class: className } = Astro.props as Props;
---
<a href={href} target="_blank" class={className}>
  <img
    class="h-10 w-10 md:h-16 md:w-16"
    style="filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);"
    width="64"
    height="64"
    src={src}
    alt={href}
  />
</a>
